body{
	margin:0px;
	background-color: black;
}

#container{
	position:absolute;
	width: 1274px;
	height: 663px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border:2px solid #000000;
	perspective:600px;
	overflow:hidden;
}
#world{
	position:absolute;
	width:inherit;
	height:inherit;
	transform-style:preserve-3d;
}
#pawn{
	display: block;
	position: relative;
	top: 49%;
	left: 49%;
	transform:translate(-50%,-50%);
	width: 300px;
	height: 450px;
	background-color:#111111;
	flex-direction: column;
}
.square{
	position:absolute;
}
.sign_up {
	text-decoration: none;
	font-size: 23px;
	color: #422500;
	background-color: #ff7c29;
	border-radius: 10px;
	border: solid;
	border-width: 0.23vw;
	transition: color .2s linear;
	padding: 15px;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 20px;
}